

<div class="three column row centered">
  <div id="NavColumn" class="column ui">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="faveFilterOldestButton"><%= link_to "Filter: By Oldest", posts_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="faveFilterNewestButton"><%= link_to "Filter: By Newest", favorites_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds", posts_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds On Map", map_path, class:"ui small button userMenuHomeButton" %></center>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned eight wide column">
    <center>
      <h1 id="indexHeader"><%="Your Favorites" %></h1>
    </center>
  </div>
</div>

<div class="favorites">
  <% @favorites.reverse.each do |favorite| %>

  <div class="ui grid postIndexMainGrid">
    <div id="postIndexGrids" class="right floated left aligned eight wide column">
      <div id="indexPost">
        <div id="indexProName">
          <h1><%= link_to "#{favorite.productname}", favorite %></h1>
        </div>

        <div id="postIndexPic" class="two wide column userShowImage">
          <%= image_tag favorite.image.url %>
        </div>

        <div class="product-details user-show">
          <div id="indexProLoc">
            <h3><%= "Spotted In: #{favorite.city}, #{favorite.state}"%></h3>
          </div>

          <div id="indexProPrice">
            <h3><%= "Price: #{favorite.price}"%></h3>
          </div>

          <div id="indexProUser">
            <h3>
              <%= "Posted By:" %>
              <%=link_to "#{favorite.user.username}", favorite.user %>
            </h3>
          </div>
        </div>
     </div>
    </div>
  </div>

  <% end %>

</div>
