<div class="three column row centered">
  <div id="NavColumn" class="column">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds", posts_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "Go Home", root_path, class:"ui small button userMenuHomeButton" %></center>
      <div id="indexNavFilter" class="ui small icon input">
        <input type="text" placeholder="Filter Finds">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <center>
      <h1 id="indexHeader"><%="#{@user.username}'s Finds" %></h1>
      <h5 id="indexHeader"><%="Total Finds: #{@user.posts.length}" %></h5>
    </center>
  </div>
</div>

<% @user.posts.reverse.each do |post| %>
<div class="ui grid postIndexMainGrid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">

      <div class="right floated center aligned two wide column">
        <%= image_tag post.image.url, :size => "260x180" %>
      </div>

      <div id="indexProName">
        <h1><%= link_to "#{post.productname}", post, {:style=>'color:#000000;', :class => "css_class"} %></h1>
      </div>

      <div id="indexProLoc">
        <h5><%= post.location %></h5>
      </div>

      <div id="indexProPrice">
        <h5><%= "Price: #{post.price}"%></h5>
      </div>

      <div id="indexProDes">
        <h5><%= post.description %></h5>
      </div>

    </div>
  </div>
</div>
<% end %>
