<div class="three column row centered">
  <div id="NavColumn" class="column ui">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds", posts_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds On Map", map_path, class:"ui small button userMenuHomeButton" %></center>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <center>
      <h1 id="indexHeader"><%="#{@user.username}'s Finds" %></h1>
      <h5 id="indexHeader"><%="Total Finds: #{@user.posts.length}" %></h5>
      <div class="apple_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </center>
  </div>
</div>

<% @posts.each do |post| %>
<div class="ui grid postIndexMainGrid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">

      <div class="right floated center aligned two wide column">
        <%= image_tag post.image.url, :size => "260x180" %>
      </div>

      <div id="indexProName">
        <h1><%= link_to "#{post.productname}", post, {:style=>'color:#000000;', :class => "css_class"} %></h1>
      </div>

      <div id="indexProLoc">
        <h5><%= post.location %></h5>
      </div>

      <div id="indexProPrice">
        <h5><%= "Price: #{post.price}"%></h5>
      </div>

      <div id="indexProDes">
        <h5><%= post.description %></h5>
      </div>

      <div class="postStaticMap">
        <span class="staticMapLink">Click To View/Hide Location</span>
        <div class="postStaticImage hidden">
          <% if post.latitude.nil? || post.longitude.nil? %>
          <h2>Location Details Invalid</h2>
          <% else %>
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{post.latitude},#{post.longitude}&zoom=15&size=400x200&markers=color:red%7C#{post.latitude},#{post.longitude}"%>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>

<div class="ui grid pageFooter">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div class="apple_pagination">
      <%= will_paginate @posts, :container => false %>
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
    </div>
  </div>
</div>
