<!-- <div>
  <% if current_user %>
  <%= link_to "Post Your Find!", new_post_path %>
  |
  <%= link_to "View All Finds!", posts_path%>
  <% else %>
  <%= link_to "View All Finds!", posts_path%>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Sign In", signin_path %>
  <% end %>
</div> -->

<div class="ui two column centered grid">
  
  <div class="column">
    <div id="browseWell" class="ui segment">
      <center><h2><%= link_to "Browse All Finds!", posts_path, {:style=>'color:#000000;', :class => "css_class"}%></h2></center>
    </div>
  </div>



  <!-- <div class="row"> -->
    <div class="four column row centered">
      <% if !current_user %>
        <div class="column">
          <a id="homeSignUpLink" href="/sign-up">
            <div id ="signupSegment" class="ui segment">
              <center id="innerSignupSegment">
                <div id="popaisleImg">
                </div>
               <h1>Sign Up</h1>
               <div id="storeImg">
               </div>
              </center>
            </div>
          </a>
        </div>

        <div class="column">
          <a id="homeSignInLink" href="/sign-in">
            <div id="signinSegment" class="ui segment">
              <center id="innerSigninSegment">
                <div id="candyaisleImg">
                </div>
                <h1 id="signinLink"><%= link_to "Sign In", signin_path, {:style=>'color:#000000;', :class => "css_class"} %></h1>
                <div id="poprackImg">
                </div>
              </center>
            </div>
          </a>
        </div>

      <% end %>
    </div>
  <!-- </div> -->
</div>
