<div class="ui centered grid">
  <div class="six wide column">
    <%= form_tag signin_path do |f| %>

    <center>
      <h1>Sign In</h1>
      <h1><%=@sign_in_error%></h1>
    </center>

    <center>
      <div id="signInField" class="ui input">
        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, nil  %>
      </div>
    </center>

    <center>
      <div id="signInField" class="ui input">
        <%= label_tag :password, "Password" %>
        <%= password_field_tag :password, nil %>
      </div>
    </center>

    <center>
        <%= submit_tag "Sign in", class:"ui red button" %>
   </center>

    <% end %>
  </div>
</div>
