<div class="three column row centered">
  <div id="NavColumn" class="column ui">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds On Map", map_path, class:"ui small button userMenuHomeButton" %></center>
      <center>
        <div id="indexNavFilter" class="ui small icon input">
          <form id="form_id" action="/search" method="get">
            <input name="keyTerm" class="searchBox" type="text" placeholder="Enter Product or City">
          </form>
        </div>
      </center>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <center>
      <h1 id="indexHeader"><%="All Finds" %></h1>
      <div class="apple_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </center>
  </div>
</div>

<% @posts.each do |post| %>
<div class="ui grid postIndexMainGrid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">
      <center>
      <div id="indexProName">
        <h1><%= link_to "#{post.productname}", post %></h1>
      </div>
      <div id="postIndexPic" class="two wide column">
        <%= image_tag post.image.url %>
      </div>
      <div id="indexProLoc">
        <h5><%= "Spotted In: #{post.city}, #{post.state}"%></h5>
      </div>

      <div id="indexProPrice">
        <h5><%= "Price: #{post.price}"%></h5>
      </div>

      <div id="indexProUser">
        <h5>
          <%= "Posted By:" %>
          <%=link_to "#{post.user.username}", post.user %>
        </h5>
      </div>

      <div class="postStaticMap">
        <span class="staticMapLink">Click To View/Hide Location</span>
        <div class="postStaticImage hidden">
          <% if post.latitude.nil? || post.longitude.nil? %>
            <h2>Location Details Invalid</h2>
          <% else %>
          <!-- <%= image_tag "http://api.tiles.mapbox.com/v4/michaeldean147.lk8hfgn9/#{post.longitude},#{post.latitude},4/400x200.jpg?access_token=pk.eyJ1IjoibWljaGFlbGRlYW4xNDciLCJhIjoiWjFIU0xOTSJ9.Dny6ilJR7MyqNy5HfffYgQ"%> -->
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{post.latitude},#{post.longitude}&zoom=15&size=400x200&markers=color:red%7C#{post.latitude},#{post.longitude}"%>
          <% end %>
        </div>
      </div>
    </center>
    </div>
  </div>
</div>
<% end %>

<div class="ui grid pageFooter">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div class="apple_pagination">
      <%= will_paginate @posts, :container => false %>
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
    </div>
  </div>
</div>


<!-- <center>
  <div id="searchDropdownButton" class="ui floating dropdown labeled button">
    <span class="text">Search Finds</span>
    <div class="menu">
      <div id="indexNavFilter" class="ui icon search input">
        <form id="form_id" action="/search" method="get">
          <input name="keyTerm" class="searchBox" type="text" placeholder="Product Name or City">
        </form>
      </div>
    </div>
  </div>
</center> -->
