<center><h1 id="indexHeader">All Finds</h1></center>
<div class="three column row centered">
  <div id="NavColumn" class="column">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center id="userMenuLabel"><h4><%= "Menu" %></h4></center>
      <center id="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center id="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <center id="userMenuButtons"><%= link_to "Go Home", root_path, class:"ui small button userMenuHomeButton" %></center>
      <div id="indexNavFilter" class="ui small icon input">
        <input class="searchBox" type="text" placeholder="Filter Finds">
        <i id="searchGlass" class="search icon"></i>
      </div>
    </div>
  </div>
</div>

<% @posts.reverse.each do |post| %>
<div id="postIndexMainGrid" class="ui grid indexGrids">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">
      <div id="postIndexPic" class="right floated center aligned two wide column">
        <%= image_tag post.image.url, :size => "260x180" %>
      </div>
      <div id="indexProName">
        <h3><%= link_to "#{post.productname}", post, {:style=>'color:#000000;', :class => "css_class"} %></h3>
      </div>

      <div id="indexProLoc">
        <h5><%= "Spotted In: #{post.city}, #{post.state}"%></h5>
      </div>

      <div id="indexProPrice">
        <h5><%= "Price: #{post.price}"%></h5>
      </div>

      <div id="indexProUser">
        <h5>
          <%= "Posted By:" %>
          <%=link_to "#{post.user.username}", post.user, {:style=>'color:#000000;', :class => "css_class"} %>
        </h5>
      </div>

    </div>
  </div>
</div>
<% end %>
