<div class="three column row centered">
  <div id="NavColumn" class="column">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <div id="indexNavFilter" class="ui small icon input">
        <input class="searchBox" type="text" placeholder="Search All Finds">
        <i id="searchGlass" class="search icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <center>
      <h1 id="indexHeader"><%="All Finds" %></h1>
      <div class="apple_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </center>
  </div>
</div>

<% @posts.each do |post| %>
<div class="ui grid postIndexMainGrid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">
      <div id="postIndexPic" class="right floated center aligned two wide column">
        <%= image_tag post.image.url, :size => "260x180" %>
      </div>
      <div id="indexProName">
        <h1><%= link_to "#{post.productname}", post %></h1>
      </div>

      <div id="indexProLoc">
        <h5><%= "Spotted In: #{post.city}, #{post.state}"%></h5>
      </div>

      <div id="indexProPrice">
        <h5><%= "Price: #{post.price}"%></h5>
      </div>

      <div id="indexProUser">
        <h5>
          <%= "Posted By:" %>
          <%=link_to "#{post.user.username}", post.user, {:style=>'color:#000000;', :class => "css_class"} %>
        </h5>
      </div>

    </div>
  </div>
</div>
<% end %>

<div class="ui grid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div class="apple_pagination">
      <%= will_paginate @posts, :container => false %>
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
    </div>
  </div>
</div>
