<div class="three column row centered">
  <div id="NavColumn" class="column ui">
    <div id="NavSegment" class="ui segment">
      <center><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds", posts_path, class:"ui small button userMenuHomeButton" %></center>
    </div>
  </div>
</div>

<div class="ui grid">
  <div id="postIndexGrids" class="right floated left aligned eleven wide column">
    <div id='map'></div>
  </div>
</div>

<script charset="utf-8">
  $(function(){
    L.mapbox.accessToken = 'pk.eyJ1IjoibWljaGFlbGRlYW4xNDciLCJhIjoiWjFIU0xOTSJ9.Dny6ilJR7MyqNy5HfffYgQ';
    var map = L.mapbox.map('map', 'michaeldean147.lk8ij07j')
    .setView([39.504, -99.976], 4);

    var markers = <%= raw @locations.to_json %>;
    markers.forEach(function(location) {
      console.log(location.properties.image)
        L.marker([location.geometry.coordinates[1], location.geometry.coordinates[0]]).bindPopup(
          '<div class="mapPostImage">\
            <img src="'+ location.properties.image+ '" alt="">\
          </div>\
          <div>\
            <h5>'+ location.properties.product_name +'</h5>\
          </div>\
          <div>\
            <p>'+ location.properties.city +','+ location.properties.state+'</p>\
          </div>\
          <div>\
          <a href="posts/' + location.properties.post_id +'"class="css_class">View This Post</a>\
          </div>')
        .addTo(map);
    });
  });
</script>
