<div class="three column row centered">
  <div id="NavColumn" class="column">
    <div id="postShowNavSegment" class="ui segment">
      <center class="userMenuButtons"><h3 id="NavSegmentHeader"><%= "Hello, #{current_user.username}" %></h3></center>
      <center class="userMenuButtons"><%= link_to "Post A Find", new_post_path, class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "View Your Favorites", favorites_path, class:"ui small button userMenuFavoritesButton" %></center>
      <center class="userMenuButtons"><%= link_to "View All Finds", posts_path, class:"ui small button userMenuHomeButton" %></center>

      <center><h3 id="SegmentHeader"><%= "Post Options" %></h3></center>
      <% if current_user && current_user.id == @post.user_id %>
      <center class="userMenuButtons"><%= link_to "Edit Post", edit_post_path(@post), class:"ui small button userMenuNewPostButton" %></center>
      <center class="userMenuButtons"><%= link_to "Destroy Post", @post , method: :delete, data: {confirm: "Are You Sure?"}, class:"ui small button userMenuNewPostButton" %></center>
      <% else %>
        <% if !current_user.favorited_posts.include?(@post) %>
          <center class="userMenuButtons">
            <%= link_to "Favorite This Post!", favorites_path(post: @post), method: :post, class:"ui small button userMenuNewPostButton" %>
          </center>
        <% else %>
        <center class="userMenuButtons">
          <%= link_to "Remove From Favorites", root_path, class:"ui small button userMenuNewPostButton" %>
        </center>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui grid userShowHeader">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <center>
      <h1 id="indexHeader"><%=@post.productname%></h1>
    </center>
  </div>
</div>

<div class="ui grid postIndexMainGrid">
  <div id="postIndexGrids" class="right floated left aligned ten wide column">
    <div id="indexPost">
      <div class="right floated center aligned two wide column">
        <%= image_tag @post.image.url, :size => "260x180" %>
      </div>

      <div>
        <p><%= @post.description %></p>
      </div>

      <div>
        <h5><%= "Spotted at: #{@post.location}" %></h5>
      </div>

      <div>
        <h5><%= "Location: #{@post.address}"%><br>
        <%="#{@post.city}, #{@post.state}" %></h5>
      </div>

      <div>
        <h5><%= "Price:  #{@post.price}" %></h5>
      </div>

      <div>
        <h5>
          <%= "Posted By User: " %>
          <%=link_to @post.user.username, @post.user, {:style=>'color:#000000;', :class => "css_class"} %><br>
          <%="Posted on #{@post.created_at}"%>
        </h5>
      </div>

    </div>
  </div>
</div>
