<!DOCTYPE html>
<html>
<head>
  <title>ChowSpana</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navBar" class="ui menu">
    <div id="left menu">
      <div id="logo">
        <a id="logoLink" href="/"><%= image_tag "118.png", height: 30, :id => 'navbar_img'%>
        <h4 id="siteName">ChowSpana</h4>
        <%= image_tag "92.png", height: 30, :id => 'navbar_img'%>
        </a>
      </div>
    </div>

    <div class="right menu">
      <div id="navbarUsername" class="item">
        <p id="navbarRight">
          <% if current_user %>
          <%= link_to "#{current_user.username}", current_user, {:class => "css_class"} %> | <%= link_to "Sign Out", signout_path, {:class => "css_class"} %>
          <% else %>
          <%= "Welcome" %>
          <% end %>
          </p>
      </div>
    </div>
  </div>

  <div id="yieldDiv">
    <%= yield %>
  </div>


</body>
</html>
